*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* border:1px solid #000; */
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
:root {
    --fg-color:#364f6b;
    --bg-color:#3fc1c9;
    --text:#424242;
    --easy:#27CF3D;
    --medium:#F9DA1B;
    --hard:#EE0D0D;
    --blank:#9e9e9e;
    --light:#ae3d32;
    --box-shadow:0 10px 10px -10px rgba(0,0,0,0.3);
}
body {
    width: 100%;
    background: #f4f4f4; 
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.logo img{
    width: 50px;
    height: 50px;
}
.logo p {
    padding: 0 15px;
    color: #f4f4f4;
    font-size: 1.8rem;
    font-family: 'Audiowide', cursive;
}
.header {
    width: 100%;
    background: transparent;
    padding: 8px 0;
    top:-0;
    position: fixed;
    z-index: 9998;
    transition: 0.3s;
}
.newHeader {
    background: #fff;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
}
.newHeader nav .logo p {
    color: var(--text);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}
ul {
    display: flex;
    justify-content: space-between;
}
ul li{
    padding: 0 10px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: var(--fg-color);
    font-size: 1rem;
    padding: 8px 25px;
    transition: 0.3s;
    position: relative;
}
ul li a:hover {
    /* color: #f5f5f5; */
    z-index: 1;
}
ul li a:before{
    content: '';
    position: absolute;
    height: 4px;
    width:100%;
    background-color: var(--bg-color);
    transform: scaleX(0);
    transform-origin: left;
    left:0;
    bottom:0;
    transition: 0.3s;
    z-index: -1;
    /* box-shadow: 0 10px 20px -10px var(--fg-color); */
    border-radius: 15px;
}
ul li a:hover:before{
    transform: scaleX(1);
}
.menubar {
    position: absolute;
    right: 30px;
    top:15px;
    font-size: 1.1rem;
    /* transform: rotate(90deg); */
    cursor: pointer;
    display: none;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.mid-section {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 25px 0;
}
.cards-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.heading {
    width: 100%;
    display: flex;
    margin-top: -25px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffc93c;
    background-image: url('http://ashishunixm9.000webhostapp.com/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transform:  translate(0,0);
    transition: 0.3s;
}

.newHeading {
    transform:  translate(-100%,0);
}
.heading p{
    /* color: var(--bg-color); */
    color: #fff;
    text-shadow: 0 0 20px rgba(0,0,0,0.3);   
    font-size: 9rem;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-family: 'Righteous', cursive;
}
.select {
    padding:25px 0;
    width: 80%;
    margin:0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.btnSort button{
    padding: 8px 20px;
    border-radius: 15px;
    background: var(--bg-color);
    color: var(--fg-color);
    border:none;
    outline:none;
    font-size: 1rem;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 10px 20px -5px var(--bg-color);
}
.btnSort {
    opacity: 0;
}
.search-box {
    width:70%;
    height: 70%;
    border-radius: 15px;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 9997;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.search-box .fa-times{
    border-radius: 0 10px 0 10px;
    background: var(--bg-color);
    position: absolute;
    top:0;
    right:0;
    padding: 12px 15px;
    color:var(--fg-color);
    transition: 0.3s;
    box-shadow: -5px 5px 25px -5px var(--bg-color);
}
.search-box input {
    padding: 10px 30px;
    width:70%;
    border:none;
    outline: none;
    border-radius: 15px 0 0 15px;
    font-size: 1rem;
    margin: 0 0 0 10px;
    color:var(--text);
}
.search-box .fa-search {
    padding: 12px 15px;
    border:none;
    margin: 0 10px 0 0;
    outline: none;
    border-radius: 0 15px 15px 0;
    font-size: 1rem;
    transition: 0.3s;
    color:var(--fg-color);
    background:#fff;
}
.search-box .fa-search:hover,.fa-times:hover {
    cursor: pointer;
}
.search-box .fa-search:hover {
    background: #fff;
    color:var(--bg-color);
}
.search-box .fa-times:hover {
    background: var(--fg-color);
    color:var(--bg-color);
    box-shadow: -5px 5px 25px -5px var(--fg-color);
}

#toggle{
    padding: 8px 20px;
    border-radius: 15px;
    background: var(--bg-color);
    color: var(--fg-color);
    border:none;
    outline:none;
    font-size: 1rem;
    margin-left: 10px;
    box-shadow: 0 10px 20px -5px var(--bg-color);
    cursor: pointer;
    transition: 0.3s;
}
.btnSort button:hover,.select #toggle:hover{
    background: var(--fg-color);
    color: var(--bg-color);
    box-shadow: 0 10px 20px -5px var(--fg-color);
}
.btnSortOpen {
    opacity: 1;
}
.active {
    background: var(--bg-color);
    color: var(--fg-color);
}
.cards {
    width:300px;
    height: 400px;
    border-radius: 15px;
    margin: 30px 30px;
    transition: 0.3s;
    background: #fff;
    box-shadow: 0 5px 20px -5px rgba(0,0,0,0.2);
}

.cards-head {
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.cards-head span {
    padding: 5px 15px;
    margin:0 0 20px 20px;
    background: #f5f5f5;
    color:var(--text);
    border-radius: 15px;  
}
.cards-text {
    font-size: 1.1rem;
    color: var(--text);
    padding: 18px 20px;
}
.btn {
    width: 70%;
}
.btn .view {
    border:none;
    padding: 8px 16px;
    transition: 0.3s;
    outline: none;
    cursor: pointer;
    background: var(--fg-color);
    color:#f5f5f5;
    box-shadow: 0 0 0 0 var(--fg-color);
    font-size: 1em;
    border-radius: 15px;
}
.btn .view a {
    color:#fff;
}
.btn .view:hover {
    box-shadow: 0 10px 25px -8px var(--fg-color);
}

.cards-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 10px 20px; 
}
.fa-star {
    padding: 0 8px;
}
#easy {
color: var(--easy);
}
#medium {
color: var(--medium);
}
#hard {
color: var(--hard);
}
#blank {
color: var(--blank);
}
::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--fg-color);
}
@media screen and (max-width:800px) {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        flex-direction: column;
        left: 0;
        /* top:50px; */
        top:50vh;
        width: 100%;
        padding: 25px 0 100px 0;
        background: rgba(255,255,255,0.5); 
        border-radius: 15px 15px 0 0;
        backdrop-filter: blur(10px);
        transform: translate(0,100%);
        transition: 0.3s; 
        box-shadow: 0 -5px 20px -5px rgba(0,0,0,0.3);
        opacity:0;
    }
    .open {
        transform: translate(0,0); 
        opacity: 1;
    }
    .logo p {
        padding: 0 0 0 0;
        margin-left: -8px;
        color: #f4f4f4;
        font-size: 1.8rem;
        font-family: audiowide;
    }
    ul li{
        padding: 15px 10px;
        list-style: none;
    }
    ul li a{
        text-decoration: none;
        color: var(--fg-color);
        font-size: 1rem;
        padding: 8px 30px;
        transition: 0.3s;
    }
    ul li a:before {
        width: 10px;
        height: 100%;
    }
    ul li a:hover:before{
        transform: scaleX(0);
    }
    .menubar {
        position: absolute;
        right: 18px;
        top:10px;
        font-size: 1.5rem;
        /* transform: rotate(90deg); */
        cursor: pointer;
        color: var(--fg-color);
        display: block;
    }
    main {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .heading {
        width: 100%;
        padding: 25px 0;
    }
    .heading p{
        font-size: 3rem;
    }
    .select {
        width: 90%;
    }
    .search-box {
        width:95%;
        height: 25%;
        transform: translate(-50%,-135%);
    }
    .search-box .fa-search {
        background: var(--bg-color);
        color:var(--fg-color);
    }
    .search-box input {
        width:80%;
        padding: 10px 16px;
    }
    .btnSort button{
        font-size:0.92rem;
        padding: 8px 12px;
    }
    #toggle{
        padding: 8px 12px;
        font-size: 1rem;
        margin: 10px 0;
    }
    .cards {
        width:330px;
        height: 380px;
        margin: 50px 15px;
        box-shadow: 0 0 15px -5px rgba(0,0,0,0.2);
    }
    .cards:hover {
        transform: translateY(0px);
    }
    .cards-head span {
        font-size: 1rem;
    }
    .cards-text {
        font-size: 1rem;
    }
    .cards-rating{
        font-size: 1rem;
    }
    .fa-star{
        padding: 0 5px;
    }
}